.Window {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(6, 6, 61) 40%, purple);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.LogIn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgb(31, 0, 85);
  background-color: #0b0b24;
}

.LogIn h1 {
  color: white;
}

.LogIn:hover {
  transform: scale(1.04);
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Form input {
  width: 300px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 2px rgb(31, 0, 85);
  color: black;
}

.Forma input:focus {
  border-style: none;
  box-shadow: 0px 0px 1px 2px rgb(31, 0, 85);
  padding: 15px;
}

.Form button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  color: white;
  box-shadow: 0px 0px 1px 1px white;
  background-color: rgb(6, 6, 61);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Form button:hover {
  transform: scale(1.1);
  background-color: rgb(40, 0, 77);
}

.Form button:active {
  transform: scale(0.9);
}

.Form a {
  margin-top: 10px;
  font-size: 12px;
  color: white;
  transition: 0.3s ease-in-out;
}

.Form a:active {
  font-size: 13px;
  transform: scale(0.3);
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: left;
}
